<%- include("header")-%>
<h2>About The Coder</h2>
<p>
  Lorem ipsume asdkj jhkswdf gfdjkfg fajkjsdf Lorem ipsume asdkj jhkswdf gfdjkfg
  fajkjsdf Lorem ipsume asdkj jhkswdf gfdjkfg fajkjsdf
</p>
<%- include("footer") -%>
